__pycache__/
*.pyc
.DS_Store
.env
.venv/
node_modules/
dist/
.vercel

backend/.env
frontend/.env

backend/data/uploads/*
!backend/data/uploads/.gitkeep
backend/data/chroma/*
!backend/data/chroma/.gitkeep

chroma_db/
docs/
